body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

.card {
  background: #222;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.links a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #0f62fe;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}